<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); -%>
    <script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
</head>
<body>
    <header><%- include('../partials/header.ejs'); -%></header>
    <!-- WYSIWYG EDITOR-->
    <div class="wysiwygEditor">
        <div class="validationMsg">
            <%if (typeof(errors) != 'undefined'){
                for(var err of errors){
                %>
                <p><%=err.msg %></p>
                <%}
            }%>
        </div>
        <!-- enctype="multipart/form-data" -->
        <form method="post">
            <label for="mainText">Please enter your Blog Title</label><br>
            <input type="text" name="blogTitle" id="blogTitle"><br><br>

            <!-- <div class="wrapper">
                <input type="file" name="image">
            </div><br> -->

            <div class="editor">
                <textarea name="textArea" id="textArea" contenteditable="true"></textarea>

                <script>
                    CKEDITOR.replace('textArea');
                </script>
                <input class="sBtb" type="submit" value="Post">
            </div> 
            
        </form>
            
    </div>
</body>
<%- include('../partials/head.ejs'); -%>
</html>