<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); -%>
</head>
<body class="homeBody">
    <header><%- include('../partials/header.ejs'); -%></header>

    <a id="startButton" href="/login">CLICK TO LOGIN</a>

</body>
<%- include('../partials/head.ejs'); -%>
</html>